{
  "ip": "0.0.0.0",
  "port": 9001,

  "soffice": "/usr/bin/soffice",
  "tidyHtml": "/usr/bin/tidy",

  "title": "{{ getenv "ETHERPAD_TITLE" "Etherpad" }}",
  "favicon": "{{ getenv "ETHERPAD_FAVICON" "favicon.ico" }}",
  "skinName": "{{ getenv "ETHERPAD_SKIN_NAME" "colibris" }}",

  "showSettingsInAdminPage": {{ getenv "ETHERPAD_SHOW_SETTING_IN_ADMIN" "true" | conv.Bool }},
  {{ if (getenv "ETHERPAD_SSL_ENABLED" "false" | conv.Bool) }}

    "ssl": {
      "key": "{{ getenv "ETHERPAD_SSL_KEY" }}",
      "cert": "{{ getenv "ETHERPAD_SSL_CERT" }}",
      "ca": [{{ if ne (getenv "ETHERPAD_SSL_CA") "" }}"{{ getenv "ETHERPAD_SSL_CA" }}"{{ end }}]
    },

  {{ end }}
  "dbType": "{{ getenv "ETHERPAD_DB_TYPE" "dirty" }}",
  "dbSettings" : {
    {{ if (getenv "ETHERPAD_DB_HOST") }}
    "user": "{{ getenv "ETHERPAD_DB_USERNAME" }}",
    "password": "{{ getenv "ETHERPAD_DB_PASSWORD" }}",
    "host": "{{ getenv "ETHERPAD_DB_HOST" }}",
    "database": "{{ getenv "ETHERPAD_DB_DATABASE" "etherpad" }}",
    "charset": "{{ getenv "ETHERPAD_DB_CHARSET" "utf8mb4" }}",
    {{ else }}
      "filename": "{{ getenv "ETHERPAD_DB_FILENAME" "var/dirty.db" }}"
    {{ end }}
  },
{{ if (getenv "ETHERPAD_DEFAULT_PAD_TEXT") }}

  "defaultPadText": "{{ getenv "ETHERPAD_DEFAULT_PAD_TEXT" }}",

{{ end }}
  "padOptions": {
    "noColors": {{ getenv "ETHERPAD_PAD_OPTIONS_NO_COLORS" "false" | conv.Bool }},
    "showControls": {{ getenv "ETHERPAD_PAD_OPTIONS_SHOW_CONTROLS" "true" | conv.Bool }},
    "showChat": {{ getenv "ETHERPAD_PAD_OPTIONS_SHOW_CHAT" "true" | conv.Bool }},
    "showLineNumbers": {{ getenv "ETHERPAD_PAD_OPTIONS_SHOW_LINE_NUMBERS" "true" | conv.Bool }},
    "useMonospaceFont": {{ getenv "ETHERPAD_PAD_OPTIONS_USE_MONOSPACE_FONT" "false" | conv.Bool }},
    "userName": {{ getenv "ETHERPAD_PAD_OPTIONS_USERNAME" "false" | conv.Bool }},
    "userColor": {{ getenv "ETHERPAD_PAD_OPTIONS_USERCOLOR" "false" | conv.Bool }},
    "rtl": {{ getenv "ETHERPAD_PAD_OPTIONS_RTL" "false" | conv.Bool }},
    "alwaysShowChat": {{ getenv "ETHERPAD_PAD_OPTIONS_ALWAYS_SHOW_CHAT" "false" | conv.Bool }},
    "chatAndUsers": {{ getenv "ETHERPAD_PAD_OPTIONS_CHAT_AND_USERS" "false" | conv.Bool }},
    "lang": "{{ getenv "ETHERPAD_PAD_OPTIONS_LANG" "en-us" }}"
  },

  "suppressErrorsInPadText": {{ getenv "ETHERPAD_SUPPRESS_ERRORS_IN_PAD_TEXT" "false" | conv.Bool }},
  "requireSession": {{ getenv "ETHERPAD_REQUIRE_SESSION" "false" | conv.Bool }},
  "editOnly": {{ getenv "ETHERPAD_EDIT_ONLY" "false" | conv.Bool }},
  "sessionNoPassword": {{ getenv "ETHERPAD_SESSION_NO_PASSWORD" "false" | conv.Bool }},
  "minify": {{ getenv "ETHERPAD_MINIFY" "true" | conv.Bool }},
  "maxAge": {{ getenv "MAX_AGE" "21600" | conv.ToInt }},
  "allowUnknownFileEnds": {{ getenv "ETHERPAD_ALLOW_UNKNOWN_FILE_ENDS" "true" | conv.Bool }},
  "requireAuthentication": {{ getenv "ETHERPAD_REQUIRE_AUTHENTICATION" "true" | conv.Bool }},
  "requireAuthorization": {{ getenv "ETHERPAD_REQUIRE_AUTHORIZATION" "true" | conv.Bool }},
  "trustProxy": {{ getenv "ETHERPAD_TRUST_PROXY" "false" | conv.Bool }},
  "disableIPlogging": {{ getenv "ETHERPAD_DISABLE_IP_LOGGING" "false" | conv.Bool }},

  "users": {
    "{{ getenv "ETHERPAD_ADMIN_NAME" "admin" }}": {
      "password": "{{ getenv "ETHERPAD_ADMIN_PASSWORD" "changeme" }}",
      "is_admin": true
    },
    "{{ getenv "ETHERPAD_USER_NAME" "user" }}": {
      "password": "{{ getenv "ETHERPAD_USER_PASSWORD" "changeme" }}",
      "is_admin": false
    }
  },

  "loadTest": "{{ getenv "ETHERPAD_LOAD_TEST" "false" | conv.Bool }}",
  "indentationOnNewLine": "{{ getenv "ETHERPAD_INDENTATION_ON_NEW_LINE" "false" | conv.Bool }}",
  "loglevel": "{{ getenv "ETHERPAD_LOG_LEVEL" "INFO" }}",

  "logconfig": {
    "appenders": [
      {
        "type": "console"
      }
    ]
  }
}
